/* Style Gallery */

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.column {
	flex: 30%;
	max-width: 30%;
	padding-right: 1%;
}

.column img {
	vertical-align: middle;
	width: 100%;
	padding-bottom: 1vw;
}

/* Hover Effect On Images */
.column img:hover {
	opacity: .7;
}

/* Collaspe Columns On Small Screens */
@media screen and (max-width: 700px) {
	.column {
		flex: 90%;
		max-width: 90%;
		padding-right: 0;
	}
}

/* The Lightbox Background */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 999; /* Sit on top */
	padding-top: 20px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	background-color: rgb(0, 0, 0); /* If opacity isn't suppored */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* The Image */
.modal-content {
	margin: auto;
	display: block;
	max-height: 90%;
	max-width: 90%;
}

/* Image Caption 
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}*/

/* Zoom in the Lightbox On Opening */
.modal-content,
#caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/* Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:active {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* Image Display On Small Screens */
@media only screen and (max-width: 700px) {
	.modal-content {
		max-width: 90%;
		max-height: 90%;
		height: auto;
	}
}
